*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 background-color: rgb(45,45,45);

}
.container{
  border:2px solid rgb(216, 17, 17);
  width:80%;
  min-height:100vh;
  background-color:white;
  margin:auto;
  padding:100px 50px;

}
.container h1{border:2px solid green;
  background-color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 
}
.paras{
 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(221, 192, 192);
  text-transform:uppercase;
  letter-spacing:.3px;
  word-spacing:2px;
  padding:20px;
  border-radius:5px;
  margin-top:30px;
 

}
#numberofwords{
  background-color: rgb(255, 255, 255);;
  padding:10px;
  border:2px solid rgb(197, 183, 183);
  margin-top:20px;
  text-transform:capitalize;
  outline:none;
  font:100 1.3rem sans-serif;
  width:50%;
}
button:hover{
  background-color: rgb(149, 16, 226);

}





button{
  background-color: rgb(186, 162, 190);
 
  font:100 1.3rem sans-serif;
  padding:10px;
  text-transform:capitalize;
  border:none;
  cursor:pointer;
  transition:background-color .5s; 
}